@using GreenChillyShop.Models.ViewModels
@model ProductVM
<div class="card">
    <div class="card-header">
        <h3 class="text-center">Create Product</h3>
    </div>
    <div class="card-body">

        <form method="post" class="row">
            <div class="form-floating py-2 col-12">

                <input asp-for="Product.Name" class="form-control" />
                <label asp-for="Product.Name" class="ms-2"></label>
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">

                <textarea asp-for="Product.Description" class="form-control"></textarea>
                <label asp-for="Product.Description" class="ms-2"></label>
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">

                <input asp-for="Product.StockQuantity" class="form-control" />
                <label asp-for="Product.StockQuantity" class="ms-2"></label>
                <span asp-validation-for="Product.StockQuantity" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">

                <input asp-for="Product.Price" class="form-control" />
                <label asp-for="Product.Price" class="ms-2"></label>
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <select asp-for="@Model.Product.CategoryId" asp-items="@Model.CategoryList" class="form-select border-0 shadow">
                    <option disabled selected>--Select Category--</option>
                </select>
                <label asp-for="Product.CategoryId" class="ms-2"></label>
                <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
            </div>
            <div class="row">

                <div class="col-6">
                    <button type="submit" class="btn btn-secondary form-control">
                        Create
                    </button>

                </div>
                <div class="col-6">
                    <a asp-action="Index" asp-controller="Product" class="btn btn-secondary form-control">
                        Back
                    </a>


                </div>

            </div>

        </form>
    </div>

</div>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
