@using GreenChillyShop.Models
@model List<Product>



<div class="container">
    <div>
        <h4 class="mt-2">Products</h4>
    </div>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-4 mb-3">
                <div class="card text-center">
                    <h4 class="card-title">
                        @item.Name
                    </h4>

                    <div class="card-body">
                        @item.Description
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-warning">Add To Cart</button>
                    </div>
                 </div>
            
        </div>
        }
    </div>
   
</div>
